name: boot-multiple-producers-consumers

on:
  push:
    paths:
      - "kafka-spring-boot/boot-multiple-producers-consumers/**"
    branches: [ main ]
  pull_request:
    paths:
      - "kafka-spring-boot/boot-multiple-producers-consumers/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run: 
          working-directory: kafka-spring-boot/boot-multiple-producers-consumers

    steps:
    - uses: actions/checkout@v6
      with:
          fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v5.0.0
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: ./mvnw -B clean verify --file pom.xml
