name: kafka-spring-cloud-sample

on:
  push:
    paths:
      - "kafka-spring-cloud-sample/**"
    branches: [ main ]
  pull_request:
    paths:
      - "kafka-spring-cloud-sample/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "kafka-spring-cloud-sample"
    steps:
    - uses: actions/checkout@v6
      with:
          fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v5.0.0
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: ./mvnw -B verify --file pom.xml
